
body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.camera-btn {
    display: block;
    margin: 20px auto;
}

.button.button-stable {
    border: 1px solid #333333;
}

h1 {
    font-size: 20px;
}

.card {
    padding: 10px;
}